<div class="container">
  <h1 style="color: orange;text-align: center">
    Welcome to {{name1}}
  </h1>
   <div class="container">
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>Male</td>
                    <td>John@emailDomain.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mary</td>
                    <td>Femlae</td>
                    <td>mary@emailDomain.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ben</td>
                    <td>Male</td>
                    <td>Ben@emailDomain.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Sara</td>
                    <td>Female</td>
                    <td>sara@emailDomain.com</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Sam</td>
                    <td>Male</td>
                    <td>sam@emailDomain.com</td>
                </tr>
            </tbody>
        </table>
       </div>
   </div>

    <!-- <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="imageCarousel" class="carousel slide" data-interval="2000"
                 data-ride="carousel" data-pause="hover" data-wrap="true">

                <ol class="carousel-indicators">
                    <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#imageCarousel" data-slide-to="1"></li>
                    <li data-target="#imageCarousel" data-slide-to="2"></li>
                    <li data-target="#imageCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../src/Images/Land.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h3>Desert</h3>
                            <p>Desert Image Description</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../src/Images/Hills.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h3>Jellyfish</h3>
                            <p>Jellyfish Image Description</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../Images/Land.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h3>Lighthouse</h3>
                            <p>Lighthouse Image Description</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../Images/Sand.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h3>Penguins</h3>
                            <p>Penguins Image Description</p>
                        </div>
                    </div>
                </div>

                <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div> -->


